<h1>Edit comments</h1>

<%= form_for [@post, @comment] do |f| %>
<%= f.text_field :body%>
<%= f.submit class:"btn btn-outline-dark btn-sm" %>
<% end %><br/>

<%= link_to "Back", posts_path, class:"btn btn-outline-dark btn-sm"%>