<div class="container">
  
  <div class="row">
    <div class="col-12">
      <div>
        <%= render "posts/form"%>
      </div><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <%= render partial: "posts/posts", locals: {posts: @posts} %>
      </div>
    </div>
  </div>

</div>