<div>
  <% if @user.id == current_user.id%>
    <h2>Your Posts</h2>
  <% else %>
    <h2><%= @user.firstname.capitalize + "'s"%> Posts</h2>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    
    <div class="col-12" style="padding:5px 15px;">
      <%= render partial: "posts/posts", locals: {posts: @posts} %>
    </div>


    <div class="col"></div>
  </div>
</div><br /><br />